<div class="jumbotron">
  <h1>GitFit</h1>
  <div class="external-logos-container">
      <img src="images/fitbit-1024-blk-transparent.png" alt="FitBit logo" class="img-circle external-logo">
      +
      <img src="images/GitHub-Mark-120px-plus.png" alt="GitHub logo" class="img-circle external-logo">
  </div>
  <br>
  <h2>Level up your tamagotchi with github and fitbit</h2>
  <img src="images/earth.jpg" alt="Cute earth" class="img-circle cute-animal-img">
  <img src="images/water.jpg" alt="Cute water" class="img-circle cute-animal-img">
  <img src="images/fire.jpg" alt="Cute fire" class="img-circle cute-animal-img">
  <img src="images/air.jpg" alt="Cute air" class="img-circle cute-animal-img">

  <br>
  <a id="fitbit-singup-button" class="btn btn-lg btn-success" ng-href="/auth/fitbit" target="_self">Sign up with fitbit</a>
  <br>
  <a id="fitbit-login-button" class="btn btn-sm btn-primary" ng-href="/login" target="_self">Login</a>
</div>
