<div id="index-page" class="jumbotron">
  <h1>GitFit ...with critters!</h1>
  <h3>a fun way for developers to stay productive and healthy</h3>
  <div class="external-logos-container">

      <img src="images/GitHub-Mark-120px-plus.png" alt="GitHub logo" class="img-circle external-logo">
      +
      <img src="images/fitbit-1024-blk-transparent.png" alt="FitBit logo" class="img-circle external-logo">

  </div>
  <br><br>

  <div id="creatures">
    <img src="images/fireDefault.png" alt="Cute fire" class="cute-animal-img">
    <img src="images/waterDefault.png" alt="Cute water" class="cute-animal-img">
    <img src="images/earthDefault.png" alt="Cute earth" class="cute-animal-img">
    <img src="images/airDefault.png" alt="Cute air" class="cute-animal-img">
  </div>

  <br>
  <a id="fitbit-singup-button" class="btn btn-lg btn-success" ng-href="/auth/fitbit" target="_self">Sign up with fitbit</a>
  <br>
</div>
