<div class="col-md-12">
  <blockquote>{{quote}}</blockquote>
  <div class="placeholders">
    <div class="row">
      <div class="col-sm-4 placeholder">
        <img src="https://openclipart.org/image/800px/svg_to_png/184028/critter3.png" width="250" class="img-responsive" alt="Generic placeholder thumbnail" />
        <h4>Critter</h4>
        <span class="text-muted">Michaelatoecious</span>
      </div>
      <div class="col-sm-4 placeholder">
        <div id="food"></div>
        <h4></h4>
        <span class="text-muted"></span>
      </div>
      <div class="col-sm-4 placeholder">
        <img src="https://avatars1.githubusercontent.com/u/1013085?v=3&s=460" width="285" class="img-responsive img-circle" alt="Generic placeholder thumbnail">
        <h4>Owner</h4>
        <span class="text-muted">@rvbsanjose</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Power Up</h3>
          </div>
          <div class="panel-body">
            <div id="level"></div>
            <span class="text-muted">115 pts till your next power up</span>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Critter Attributes</h3>
          </div>
          <div class="panel-body">
            <div class="col-sm-4 placeholder">
              <img src="http://www.jojoscupcakes.net/images/contact_icon_cupcake.png" class="img-responsive" width="80" alt="Generic placeholder thumbnail">
              <h4>DOB</h4>
              <span class="text-muted">{{user.critter.dob}}</span>
            </div>
            <div class="col-sm-4 placeholder">
              <img src="http://winningwp.com/sdf-v1/img/rocket-big@2x.png" class="img-responsive" width="108" alt="Generic placeholder thumbnail" style="margin-top:5px">
              <h4>Power Level</h4>
              <span class="text-muted">{{user.critter.level}}</span>
            </div>
            <div class="col-sm-4 placeholder">
              <img src="https://pbmo.files.wordpress.com/2012/06/mudflap-guy.png?w=300&h=175" class="img-responsive" width="170" alt="Generic placeholder thumbnail" style="margin-top:15px">
              <h4>Critter Species</h4>
              <span class="text-muted">{{user.critter.type}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Eating Habits</h3>
          </div>
          <div class="panel-body">
            <div id="schedule"></div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Exercise Habits</h3>
          </div>
          <div class="panel-body">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
