<div class="col-md-12 main">
  <h1 class="page-header">Michaelatoecious</h1>
  <div class="col-md-3">
    <img src="https://openclipart.org/image/800px/svg_to_png/184028/critter3.png" height="300" class="col-md-offset-10" />
  </div>
  <div class="col-md-9">
    <div id="food"></div>
  </div>
  <div id="critter-info">
    <div class="col-sm-4 placeholder">
      <img src="http://www.jojoscupcakes.net/images/contact_icon_cupcake.png" class="img-responsive" width="40" alt="Generic placeholder thumbnail">
      <h4>DOB</h4>
      <span class="text-muted">{{user.critter.dob}}</span>
    </div>
    <div class="col-sm-4 placeholder">
      <img src="http://winningwp.com/sdf-v1/img/rocket-big@2x.png" class="img-responsive" width="58" alt="Generic placeholder thumbnail">
      <h4>Level</h4>
      <span class="text-muted">{{user.critter.level}}</span>
    </div>
    <div class="col-sm-4 placeholder">
      <img src="https://pbmo.files.wordpress.com/2012/06/mudflap-guy.png?w=300&h=175" class="img-responsive" width="85" alt="Generic placeholder thumbnail">
      <h4>Type</h4>
      <span class="text-muted">{{user.critter.type}}</span>
    </div>
  </div>
  <div id="schedule"></div>
</div>
