/* Move down content because we have a fixed navbar that is 50px tall */
.top-padding {
  padding-top: 60px;
}

.navbar {
  border-radius: 0;
}

.c3-tooltip-container {
  /* margin-top: 50px; */
}

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  /* border-radius: 50%; */
}

.external-logo {
    max-width: 35px;
}

.cute-animal-img {
    display: inline-block;
    max-width: 200px;
    position: relative;
    margin-left: -50px;
}

.create-creature-img {
    max-width: 200px;
    cursor: pointer;
}

.critter-img-container {
    display: inline-block;
}

.critter-img-container:hover {
    border-bottom: 2px solid #eee;
}

.left-panel {
    display: inline-block;
}

.right-panel {
    display: inline-block;
}

.choose-critter-link {
    display: block;
}

.critter-attributes {
    font-size: 16px;
}

#critter-info {
  margin-top: 100px;
}

#schedule {
  left: -13px;
}

.c3-tooltip-container {
  text-align: left;
}

#fitbit-singup-button {
  margin-top: 10px;
}

#fitbit-login-button {
  margin-top: 10px;
}

#external-logos-container {
  margin: 0 auto;
}

#badges .thumbnail {
  margin-left: auto;
  margin-right: 20px;
}

#badges .caption {
  margin-top: 10px;
}

#index-page {
  background-color: #eee;
  height: 100vh;
  text-align: center;
}

.jumbotron {
  margin: 0;
}

#creatures img {
  margin-left: 10px;
}
